
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffb727;
  text-decoration: none;
}

a:hover {
  color: #ffc85a;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffb727;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ffc550;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.kq-logo {
  width:60px;
  height:40px;
  margin-right: 10px;
  color:white;
  border-radius: 10px;
  position:fixed;
  top:10px;
  left:30px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.cart {
  position: fixed;
  top: 10px;
  right:30px;
}
.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffb727;
}

.shop-cart {
  width:23px;
  margin-right:10px;
  
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #3b434a;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ffb727;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("./assets/img/background-nature.avif") top right;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 75px;
  font-family: "Satisfy", serif;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 65px;
}

#hero .btn-scroll:hover {
  color: #ffb727;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }

  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}



/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about-me {
  font-size:20px;
  margin-left:40px;
  margin-right:-20px;
}
.about .image {
  background: url("./assets/img/me.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
  width:370px;
  border-radius:20px;
}
.languages {
  font-weight: bold;
  opacity:0.9;
}
.section-title p {
  color:gray;
}
.prog-languages {
  font-weight: bold;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  .about-me{
    font-size:18px;
    padding-right:20px;
    margin-left:20px;
  }

  .image {
    margin-left:10px;
    margin-bottom:20px;
    width:280px;
  }
}

/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/
.experiences {
  list-style-type:none;
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:20px;
}
.experiences li {
  display:flex;
  align-items:center;
  margin-bottom:40px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border:1px solid rgb(235, 229, 229);
  padding:20px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  width:670px;
  height:450px;
  border-radius:5px;
}
.job-desc {
  font-weight: bold;
  font-size:22px;
  color:#edbc5b;
  margin-bottom:20px;
}
.job-location {
  font-size:18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.exp-location {
  margin-top:-20px;
  opacity:0.7
}
@media (max-width: 775px) {
.experiences {
  display:grid;
  grid-template-columns: auto;
}
.experiences li{
  width:350px;
  height:600px;
  text-align:left;
}
}
/*--------------------------------------------------------------
# My Services
--------------------------------------------------------------*/

.services {
  padding: 80px 0;
  position: relative;
  margin:20px;
}

.services::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(14, 16, 17, 0.7);
}


.services .services-carousel,
.services .services-slider {
  overflow: hidden;
}

.services .service-item {
  text-align: center;
  color: #fff;
}

.services .service-item .service-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.services .service-item h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.services .service-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
  font-size: 22px;
}

.services .swiper-pagination {
  margin-top: 20px;
  position: relative;
  height:20px;
}

.services .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.services .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffb727;
}

@media (min-width: 992px) {
  .services .service-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/
#portfolio {
  margin-top:40px;
}
.quote {
  padding: 0 100px ;
}
.projects-div {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project {
  width:300px;
  height:330px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position:relative;
  margin:40px;
}
.image-div1 {
  width:300px;
  height:200px;
  display:flex;
  align-items: center;
}
.image-div2{
  width:300px;
  height:200px;
  display:flex;
  align-items: center;
}
.image-div3 {
  width:300px;
  height:200px;
  display:flex;
  align-items: center;
}
.project-img {
  width:300px;
}
.project .lang-div {
  display:flex;
  top:0px;
  right:0;
  position:absolute;
}
.pro-lang {
  display:flex;
  flex-direction: row;
  font-size:16px;
  background-color: #d4250e;
  color:white;
  margin:3px;
  padding:3px;

}
.project h3 {
  text-align: center;
  margin:35px 0;
}
.project .github {
  width:100%;
  height:46px;
  border:none;
  background-color: #261c1c;
  color:white;
}

/*--------------------------------------------------------------
# Contact Me
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  width:100%;
}
.contact .container {
  width:900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-lg-6 {
  width:100%;
}
.contact .info-box i.bx {
  font-size: 24px;
  color: #ffb727;
  border-radius: 50%;
  padding: 15px;
  background: #fff6e4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.validate {
  width:890px;
}

@media (max-width: 575px) {
  .contact .container {
    width:350px;
  }
  .validate {
    width:350px;
  }
}
